<section class="introduction" id="home">
  <!-- left side -->
  <div class="left">
    <h1 class="section__title section__title--intro">Hola, me llamo</h1>
    <h1 class="section__title section__title--intro">
      <strong>{{name}}</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">
      <i>{{title}}</i>
    </p>
  </div>
  <!-- profile picture -->

  <!-- right side -->
  <div class="right">
    <img [src]="pfp" alt="pfp" class="intro__img" />
    <div class="right-bottom">
      <h1>
        <i class="fa-solid fa-laptop-code icon-body introduction__icon"></i>
      </h1>
      <!-- modal -->
      <div class="col-1 admin-btn">
        <!-- edit -modal trigger button -->
        <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editpfp"
        >
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
      </div>
      <!-- ------- -->
    </div>

    <!-- ICON -->
  </div>
</section>

<app-editpfp></app-editpfp>
