/* -------introduction ------------- */
.introduction {
    display: flex;
    position: relative;

    padding: 1em;
    margin: 2%;

    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: grid;
    justify-content: center;
    transition: 2s;

  
  }
  .section__title--intro {
    font-weight: var(--fw-reg);
  }
  .section__subtitle--intro{
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
  
  }

  .left{
    margin: 1rem;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    max-width: var(--default);

    /* review */

    border-style: var(--border);
    border-color: white;

    border-right: none;
    border-top: none;

    flex-grow: 1;
  
  }
  .right{
    display: flex;
    flex-grow: 1;
    margin: 1rem;
    padding: 0.5em 1em;
    flex-direction: column;
    max-width: var(--default);

    /* review */
    border-style: solid;
    border-color: white;

    border-left: none;
    border-bottom: none;
    
  }
h1{
  justify-content: center;
}

  .intro__img{
      
    margin: 1%;
    border-style: solid;
    border-color: #009188;
    border-left: none;
    border-bottom: none;
    padding: 5%;

    transition: 1s;
    
    
  }
  .intro__img:hover{
    transform: scale(1.1);
    
    border:none
  }
  .right-bottom{
    
    display: flex;
    flex-grow: 1;     
  
    justify-content: center;
    padding: 1em;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-direction: row;
  }
  .right i{
    transition: 1s;
  }
  .right i:hover{
    transform: scale(1.35);
  
  }

  