<div class="modal" tabindex="-1" id="addproject">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">
          &lt; ingrese nombre y datos del nuevo proyecto &gt;
        </h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clear()"
        ></button>
      </div>
      <!-- body -->
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)" name="addproject">
        <div class="input-group mb-3">
          <span class="input-group-text" id="project-url">link de github</span>
          <input
            type="text"
            class="form-control"
            placeholder="url del proyecto"
            aria-label="project-url"
            aria-describedby="project-url"
            formControlName="url"
            [ngClass]="{
              'border-danger': Url.errors && Url.touched,
              'border-good': !Url.errors && Url.touched
            }"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Url?.errors && Url?.touched">
          <p *ngIf="Url?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="nombre del proyecto"
            aria-label="project-title"
            aria-describedby="project-title"
            formControlName="title"
            [ngClass]="{
              'border-danger': Title.errors && Title.touched,
              'border-good': !Title.errors && Title.touched
            }"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Title?.errors && Title?.touched">
          <p *ngIf="Title?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <span class="input-group-text">fecha de inicio del proyecto</span>
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="project-start"
            aria-describedby="project-start"
            formControlName="start"
            [ngClass]="{
              'border-danger': Start.errors && Start.touched,
              'border-good': !Start.errors && Start.touched
            }"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Start?.errors && Start?.touched">
          <p *ngIf="Start?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <span class="input-group-text"
            >fecha de finalizacion del proyecto</span
          >
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="project-end"
            aria-describedby="project-end"
            formControlName="end"
            [ngClass]="{
              'border-danger': End.errors && End.touched,
              'border-good': !End.errors && End.touched
            }"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="End?.errors && End?.touched">
          <p *ngIf="End?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <div class="input-group mb-3">
          <span class="input-group-text">descripcion del proyecto</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            formControlName="description"
            [ngClass]="{
              'border-danger': Description.errors && Description.touched,
              'border-good': !Description.errors && Description.touched
            }"
          ></textarea>
        </div>
        <!-- logica dato -->
        <div *ngIf="Description?.errors && Description?.touched">
          <p *ngIf="Description?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="clear()"
          >
            cerrar
          </button>
          <button
            [disabled]="
              Url?.hasError('required') ||
              Title?.hasError('required') ||
              Start?.hasError('required') ||
              End?.hasError('required') ||
              Description?.hasError('required')
            "
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
            (click)="refresh()"
          >guardar cambios</button> 
        </div>
      </form>
    </div>
  </div>
</div>
