/* completeeeeeeeeeee */

.footer{
    display: flex;
    justify-content: space-between;
}
.btn a{
    text-decoration: none;
    color: var(--clr-light)

}
.btn{
    text-decoration: none;
    padding: 1em;
}


.btn i{
    display: flex;

}

.license{
    display: flex;
    justify-content: center;
  }
