<div class="modal fade" tabindex="-1" id="editskill">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">
          &lt; ingrese nombre y valor de la habilidad &gt;
        </h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- body -->
      <form (ngSubmit)="onSubmit($event)" #form="ngForm" name="editskill">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="nombre habilidad"
            aria-label="skill-name"
            aria-describedby="skill-name"
            name="name"
            [(ngModel)]="sSkill.editskill.name"
            required
            #name="ngModel"
            [ngClass]="{
              'border-danger': name.errors && name.touched,
              'border-good': !name.errors && name.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="name?.errors && name?.touched">
          <p *ngIf="name?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            aria-label="percentage number"
            placeholder="porcentaje de dominio de la habilidad"
            name="percentage"
            [(ngModel)]="sSkill.editskill.percentage"
            required
            max="100"
            #percentage="ngModel"
            [ngClass]="{
              'border-danger': percentage.errors && percentage.touched,
              'border-good': !percentage.errors && percentage.touched
            }"
          />
          <span class="input-group-text">%</span>
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="percentage?.errors && percentage?.touched">
          <p *ngIf="percentage?.hasError('required')" class="error">
            El dato es requerido.
          </p>
          <div *ngIf="percentage.hasError('max')">Valor maximo: 100</div>
        </div>
        <br />
        <!--  -->

        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
            (click)="refresh()"
            [disabled]="
              name?.hasError('required') ||
              percentage?.hasError('required') ||
              percentage?.hasError('max')
            "
          >
            guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
