<section class="my-experience" id="experience">
  <h2 class="section__title section__title--experience">
    <strong> &lt; experiencia &gt; </strong>
        <!-- add button -->
        <button
        type="button"
        class="btn add-btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#editjob"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
      <!-- --- -->
  </h2>
  <div class="experience">

    
    <div class="job" *ngFor="let job of experience">
      <h3>
        <span><i class="fa-solid fa-at icon-body"></i></span> {{job.place}}
      </h3>
      <h4>{{job.title}}</h4>

      <p>{{job.description}}</p>
      <p class="project__date">{{job.start}} / {{job.end}}</p>

      <!-- modal -->
      <div class="col-1 admin-btn">
        <!-- edit -modal trigger button -->
        <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editjob"
        >
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>

        <!--del- modal trigger button -->

        <button
          type="button"
          class="btn del-btn"
          data-bs-toggle="modal"
          data-bs-target="#delete"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
      <!-- ------- -->
    </div>
<!-- ----------------- -->

  </div>
  <div class="my-experience__footer">
    <h2>&lt; / <i class="fa-solid fa-briefcase icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editjob></app-editjob>
<app-delete></app-delete>