<section class="about-me" id="about">
  <h2 class="section__title section__title--about">
    <strong> &lt; sobre mi &gt; </strong>
  </h2>
  <div class="about-me__body">
    <!-- componente de about-me -->
    <div class="col-11 p-1" *ngFor="let person of people">
      <h3>
        <p class="p-1">
          {{ person.about }}
        </p>
      </h3>
      <div class="col-1 admin-btn">
        <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editprofile" 
          (click)="viewPerson(person.id)"
        >
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
      </div>
    </div>

    
  </div>

  <div class="about-me__footer">
    <h2>&lt; / <i class="fa-solid fa-circle-info icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editprofile></app-editprofile>
