.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}
.section__subtitle--about {
  height: 0.2em;
  border-radius: 2em;
  /* colored line */
}

.about-me__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: var(--pad);
  padding-right: var(--pad);
}
.about-me p {
  word-wrap: break-word;
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: 300;
}

.admin-btn {
  display: flex;
  flex-direction: row-reverse;
}
button {
  max-width: 32px;
}
