<section class="about-me" id="about">
  <h2 class="section__title section__title--about">
    <strong> &lt; sobre mi &gt; </strong>
  </h2>
  <p class="section__subtitle section__subtitle--about"></p>
  <div class="about-me__body">
    <!-- componente de about-me -->
    <div class="col-7 p-1">
      <p class="p-1">
        ...............................................................................................................
        ........................................................
      </p>
    </div>

    <div class="col-1 admin-btn">

      <button
        type="button"
        class="btn edit-btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#editabout"
      >
        <i class="fa-solid fa-wand-magic-sparkles"></i>
      </button>
    </div>
  </div>

  <div class="about-me__footer">
    <h2>&lt; / <i class="fa-solid fa-circle-info icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editabout></app-editabout>

