<nav id="return" class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid justify-content-center">
    <a><img class="logo" src="assets/img/logo.png" alt="logoArgProg" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="flex-container justify-content-center flex-row-reverse">
        <!-- login button component -->

        <!-- make it appear and disappear -->
        <!-- <app-login *ngIf="!visible"></app-login>
        <app-logout *ngIf="visible"></app-logout> -->

        <app-login></app-login>
        <app-logout></app-logout>
        <!-- social links -->
        <app-socials></app-socials>

        <!-- fin socials -->
      </div>
    </div>
  </div>
</nav>
