<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="modal" tabindex="-1" id="editsocial">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <h3 class="modal-title">
            &lt; ingrese el url e icono de la red social &gt;
          </h3>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- body -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="url"
            aria-label="social-url"
            aria-describedby="social-url"
            formControlName="url"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Url?.errors && Url?.touched">
          <p *ngIf="Url?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="icon"
            placeholder="clase del icono (fontawesome)"
            aria-describedby="social-icon"
            formControlName="icon"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Icon?.errors && Icon?.touched">
          <p *ngIf="Icon?.hasError('required')" class="error">
            El dato es requerido.
          </p>

          <p *ngIf="Icon?.errors?.['Max']" class="error">
            El valor exede el maximo de caracteres.
          </p>
        </div>
        <br />

        <!--  -->
        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
          />
        </div>
      </div>
    </div>
  </div>
</form>
