<div class="modal fade" tabindex="-1" id="editjob">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">
          &lt; ingrese nombre y datos del proyecto &gt;
        </h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- body -->
      <form (ngSubmit)="onSubmit($event)" name="editjob" #form="ngForm">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="lugar de trabajo"
            aria-label="workplace"
            aria-describedby="workplace"
            name="place"
            [(ngModel)]="sJob.editjob.place"
            required
            #place="ngModel"
            [ngClass]="{
              'border-danger': place.errors && place.touched,
              'border-good': !place.errors && place.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="place?.errors && place?.touched">
          <p *ngIf="place?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="titulo del trabajo"
            aria-label="job-title"
            aria-describedby="job-title"
            name="title"
            [(ngModel)]="sJob.editjob.title"
            required
            #title="ngModel"
            [ngClass]="{
              'border-danger': title.errors && title.touched,
              'border-good': !title.errors && title.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="title?.errors && title?.touched">
          <p *ngIf="title?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <div class="input-group mb-3">
          <span class="input-group-text">descripcion del trabajo</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            name="description"
            [(ngModel)]="sJob.editjob.description"
            required
            maxlength="150"
            #description="ngModel"
            [ngClass]="{
              'border-danger': description.errors && description.touched,
              'border-good': !description.errors && description.touched
            }"
          ></textarea>
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="description?.errors && description?.touched">
          <p *ngIf="description?.hasError('required')" class="error">
            El dato es requerido.
          </p>
          <div *ngIf="description.hasError('maxlength')">Mucho texto!!</div>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <span class="input-group-text">fecha de inicio</span>
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="job-start"
            aria-describedby="job-start"
            name="start"
            [(ngModel)]="sJob.editjob.start"
            required
            #start="ngModel"
            [ngClass]="{
              'border-danger': start.errors && start.touched,
              'border-good': !start.errors && start.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="start?.errors && start?.touched">
          <p *ngIf="start?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <div class="input-group mb-3">
          <span class="input-group-text">fecha de finalizacion</span>
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="job-end"
            aria-describedby="job-end"
            name="end"
            [(ngModel)]="sJob.editjob.end"
            required
            #end="ngModel"
            [ngClass]="{
              'border-danger': end.errors && end.touched,
              'border-good': !end.errors && end.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="end?.errors && end?.touched">
          <p *ngIf="end?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
            (click)="refresh()"
            [disabled]="
              title?.hasError('required') ||
              description?.hasError('required') ||
              start?.hasError('required') ||
              end?.hasError('required')
            "
          >
            guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
