<div class="modal" tabindex="-1" id="editprofile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- header -->
        <h3 class="modal-title">&lt; editar perfil &gt;</h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Body-->
        <form (ngSubmit)="onSubmit($event)" #form="ngForm" name="editprofile">
          <!-- name -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="nombre y apellido"
              aria-label="profile-name"
              aria-describedby="profile-name"
              name="fullname"
              [(ngModel)]="sPerson.editprofile.fullname"

            />
          </div>

          <!-- title/occupation -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="título"
              aria-label="profile-title"
              aria-describedby="profile-title"
              name="title"
              [(ngModel)]="sPerson.editprofile.title"

            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">imagen de perfil ⊳</span>
            <input
              type="file"
              class="form-control"
              id="inputGroupPfp"
              name="pfp"
              [(ngModel)]="sPerson.editprofile.pfp"

            />
          </div>

          <!-- about -->
          <div class="input-group mb-3">
            <span class="input-group-text">sobre mi ⊳</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              name="about"
              [(ngModel)]="sPerson.editprofile.about"

            ></textarea>
          </div>
          

          <!-- banner -->
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupBanner"
              >portada ⊳</label
            >
            <input
              type="file"
              class="form-control"
              id="inputGroupBanner"
              name="banner"
              [(ngModel)]="sPerson.editprofile.banner"

            />
          </div>


          <!-- license  -->

          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="licencia"
              aria-label="license"
              aria-describedby="license"
              name="license"
              [(ngModel)]="sPerson.editprofile.license"

            />
          </div>


          <!-- footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              cerrar
            </button>
            <input
              type="submit"
              class="btn btn-primary"
              value="guardar cambios"
              (click)="refresh()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
