/* page menu settings */

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .menu-item{
    margin: 1rem;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    border: 2px solid white;
    border-radius: 3rem;
    transition: 0.5s;
  }
  .menu-item a{
    color: var( --clr-light);
    text-decoration: none;
    
  }
  .menu-item span{
    color: var(--clr-accent);
  }
  .menu-item:hover{
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    box-shadow: #fff;
    transform: scale(1.05);
  }