<section class="banner">
  <div>
    <img class="card-img" src="/assets/img/a4.png" alt="banner" />
    <!-- [src]="banner"  -->
  </div>
  <div class="col-1 admin-btn">
    <!-- edit -modal trigger button -->
    <button
      type="button"
      class="btn edit-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#editbanner"
    >
      <i class="fa-solid fa-wand-magic-sparkles"></i>
    </button>

    <!--del- modal trigger button -->

    <button
      type="button"
      class="btn del-btn"
      data-bs-toggle="modal"
      data-bs-target="#delete"
    >
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </div>
</section>

<app-editbanner></app-editbanner>
