/* banner settings */
.banner{
    display: flex;
    flex-grow: 1;
    size: 100%;
    padding:0;
  }


  .banner img{

    display:flex;
    flex-grow: 1;
    transition: 2s; 
    box-shadow: #fff;
    width: 100%;
  
  }
  .banner .col-1{
  
  position: absolute;
  
  }
    
  .banner img:hover{
  
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  box-shadow: #fff;
  transform: scale(1.05);
  
  }
