.socials{
    display:flex;
    justify-content: center;

}
.btn{
    padding: 1em;

}
.btn i{
    display: flex;

}
.social{
    margin:0.5em;
}
.edit-btn{
    margin:none;
}
i .fa-brands{
    max-width: 20px;
}
button.btn.btn-primary.social, button{
    padding: none;
}
