<div class="socials">
  <div *ngFor="let social of socials">
    <button class="btn btn-primary social" type="button">
      <h3>
        <i [ngClass]="social.icon">
          <a
            style="color: #009188; text-decoration: none; text-align: center"
            [href]="social.url"
            alt="social.alt"
            target="_blank"
          >
          </a>
        </i>
      </h3>
    </button>

    <!-- modal edit add and delete -->
    <button *ngIf="isLogged"
      type="button"
      class="btn edit-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#editsocial"
      (click)="viewSocial(social.id)"
    >
      <i class="fa-solid fa-pencil"></i>
    </button>
    <app-editsocial *ngIf="isLogged"></app-editsocial>
  </div>
</div>
