<!-- COMPLETAR CON FOR QUE AGREGUE UN BOTON DE EDICION EN CADA ARRAY DEL JSON -->
<section class="my-education" id="education">
  <h2 class="section__title section__title--education">
    <strong> &lt; formación académica &gt; </strong>
    <!-- add button -->
    <button
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addcourse"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>
  <div class="education">
    <!-- bucle? -->
    <div class="course" *ngFor="let course of education">
      <i class="fa-solid fa-bookmark icon-body"></i>
      <h3 class="titulo">
        {{ course.title }}

        <p class="institution">{{ course.institution }}</p>
        <p class="project__date">{{ course.start | date:"dd-MM-yyy"}} / {{ course.end | date:"dd-MM-yyy" }}</p>
      </h3>
      <!-- modal -->
      <div class="col-1 admin-btn">
        <!-- edit -modal trigger button -->
        <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editcourse"
        >
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>

        <!--del- modal trigger button -->

        <button type="button" class="btn del-btn">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
      <!-- ------- -->
    </div>
    <!-- fin -->
  </div>

  <div class="my-education__footer">
    <h2>&lt; / <i class="fa-solid fa-user-graduate icon-body"></i> &gt;</h2>
  </div>
</section>
<app-editcourse></app-editcourse>
<app-addcourse></app-addcourse>
