<section class="my-projects" id="projects">
  <h2 class="section__title section__title--projects">
    <strong> &lt; mis proyectos &gt; </strong>
    <!-- add button -->
    <button
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addproject"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>
  <div class="projects flex-container">
    <!-- start project -->
    <div class="project" *ngFor="let project of projects">
      <!-- url -->
      <div class="button-icon">
        <h2>
          <a [href]="project.url" alt="project url" target="_blank">
            <i class="fa-regular fa-folder icon-body"></i
          ></a>
        </h2>

        <!-- modal -->
        <!-- agregar *ngIf con funcion para cambiar visibilidad si esta logeado -->
        <div class="col-1 admin-btn">
          <!-- edit -modal trigger button -->
          <button
            type="button"
            class="btn edit-btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editproject"
            (click)="viewProject(project.id)"
          >
            <!-- (click)="idEdit(project.id)" -->

            <i class="fa-solid fa-wand-magic-sparkles"></i>
          </button>

          <!--delete trigger button -->
          <!-- agregar *ngIf con funcion para cambiar visibilidad si esta logeado -->

          <button
            type="submit"
            class="btn del-btn"
            data-bs-toggle="modal"
            data-bs-target="#delete"
            (click)="delete(project.id)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        <!-- ------- -->
      </div>
      <!-- project body -->
      <h3>
        &lt; {{ project.title }} &gt;

        <p>{{ project.description }}</p>
        <p class="project__date">
          {{ project.start | date : "dd-MM-yyy" }} /
          {{ project.end | date : "dd-MM-yyy" }}
        </p>
      </h3>
    </div>
    <!-- end project -->
  </div>

  <div class="my-projects__footer">
    <h2>&lt; / <i class="fa-solid fa-list-check icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editproject></app-editproject>
<app-addproject></app-addproject>
<app-delete></app-delete>
