<div class="modal fade" tabindex="-1" id="editsocial">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">&lt; editar red &gt;</h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- body -->
      <form (ngSubmit)="onSubmit($event)" #form="ngForm" name="editsocial">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="url"
            aria-label="social-url"
            aria-describedby="social-url"
            name="url"
            [(ngModel)]="sSocial.editsocial.url"
            required
            #url="ngModel"
            [ngClass]="{
              'border-danger': url.errors && url.touched,
              'border-good': !url.errors && url.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="url?.errors && url?.touched">
          <p *ngIf="url?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="icon"
            placeholder="clase del icono (fontawesome)"
            aria-describedby="social-icon"
            name="icon"
            [(ngModel)]="sSocial.editsocial.icon"
            required
            #icon="ngModel"
            [ngClass]="{
              'border-danger': icon.errors && icon.touched,
              'border-good': !icon.errors && icon.touched
            }"
          />
        </div>
        <!-- logic ngmodel -->
        <div *ngIf="icon?.errors && icon?.touched">
          <p *ngIf="icon?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
            (click)="refresh()"
            [disabled]="url?.hasError('required') || icon?.hasError('required')"
          >
            guardar cambios
          </button>
        </div>
        <!--  -->
      </form>
    </div>
  </div>
</div>
