<div class="modal" tabindex="-1" id="editsocial">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">
          &lt; ingrese el url e icono de la red social &gt;
        </h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- body -->
      <form (ngSubmit)="onSubmit($event)" #form="ngForm" name="editsocial">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="url"
            aria-label="social-url"
            aria-describedby="social-url"
            name="url"
            [(ngModel)]="sSocial.editsocial.url"

          />
        </div>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="icon"
            placeholder="clase del icono (fontawesome)"
            aria-describedby="social-icon"
            name="icon"
            [(ngModel)]="sSocial.editsocial.icon"

          />
        </div>

        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
            (click)="refresh()"
          />
        </div>
        <!--  -->
      </form>
    </div>
  </div>
</div>
