<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="modal" tabindex="-1" id="addskill">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <h3 class="modal-title">
            &lt; ingrese nombre y valor de la nueva habilidad &gt;
          </h3>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- body -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="nombre habilidad"
            aria-label="skill-name"
            aria-describedby="skill-name"
            formControlName="name"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Name?.errors && Name?.touched">
          <p *ngIf="Name?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            aria-label="percentage number"
            placeholder="porcentaje de dominio de la habilidad"
            formControlName="percentage"
          />
          <span class="input-group-text">%</span>
        </div>
        <!-- logica dato -->
        <div *ngIf="Percentage?.errors && Percentage?.touched">
          <p *ngIf="Percentage?.hasError('required')" class="error">
            El dato es requerido.
          </p>

          <p *ngIf="Percentage?.errors?.['Max']" class="error">
            El valor exede el maximo.
          </p>
        </div>
        <br />

        <!--  -->
        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
          />
        </div>
      </div>
    </div>
  </div>
</form>
