<!-- should this be a form?? -->

<div class="modal fade" tabindex="-1" id="delete">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">&lt; eliminar &gt;</h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">&lt; datos actualizados &gt;</div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="refresh()">
          &lt; recargar &gt;
        </button>
      </div>
    </div>
  </div>
</div>
