<div class="socials">
  <div *ngFor="let social of socials">
    <button class="btn btn-primary social" type="button">
      <i [ngClass]="social.icon">
        <h2>
        <a
          style="color: #009188; text-decoration: none; text-align: center"
          [href]="social.url"
          alt="social.alt"
          target="_blank"
        >
        </a>
      </h2>
      </i>
    </button>

    <!-- modal edit add and delete -->

    <!-- <button
     type="button"
     class="btn add-btn btn-primary"
     data-bs-toggle="modal"
     data-bs-target="#addsocial"
   >
     <i class="fa-solid fa-plus"></i>
   </button> -->

    <!-- <div class="col-1 admin-btn"> -->
    <!-- edit -modal trigger button -->
    <!-- <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editjob"
        >
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button> -->

    <!--del- modal trigger button -->

    <!-- <button type="button" class="btn del-btn">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div> -->

    <!-- ------- -->

    <!-- ----------------- -->
  </div>
</div>
