.socials{
    display:flex;

}
/* .social{
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
a{background-color: transparent;} */


.btn{
    padding: 2em;

}


