<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="modal" tabindex="-1" id="editproject">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <h3 class="modal-title">
            &lt; ingrese nombre y datos del proyecto &gt;
          </h3>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- body -->
        <div class="input-group mb-3">
          <span class="input-group-text" id="project-url">link de github</span>
          <input
            type="text"
            class="form-control"
            placeholder="url del proyecto"
            aria-label="project-url"
            aria-describedby="project-url"
            formControlName="url"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Url?.errors && Url?.touched">
          <p *ngIf="Url?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="nombre del proyecto"
            aria-label="project-title"
            aria-describedby="project-title"
            formControlName="title"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Title?.errors && Title?.touched">
          <p *ngIf="Title?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <span class="input-group-text">fecha de inicio del proyecto</span>
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="project-start"
            aria-describedby="project-start"
            formControlName="start"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="Start?.errors && Start?.touched">
          <p *ngIf="Start?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->
        <div class="input-group mb-3">
          <span class="input-group-text"
            >fecha de finalizacion del proyecto</span
          >
          <input
            type="date"
            class="form-control"
            placeholder="fecha de duracion del proyecto"
            aria-label="project-end"
            aria-describedby="project-end"
            formControlName="end"
          />
        </div>
        <!-- logica dato -->
        <div *ngIf="End?.errors && End?.touched">
          <p *ngIf="End?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <div class="input-group">
          <span class="input-group-text">descripcion del proyecto</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <!-- logica dato -->
        <div *ngIf="Description?.errors && Description?.touched">
          <p *ngIf="Description?.hasError('required')" class="error">
            El dato es requerido.
          </p>
        </div>
        <br />
        <!--  -->

        <!-- footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="guardar cambios"
          />
        </div>
      </div>
    </div>
  </div>
</form>
