<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="modal" tabindex="-1" id="editabout">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- header -->
          <h3 class="modal-title">&lt; editar sobre mi &gt;</h3>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- contenido -->
          <div class="input-group">
            <span class="input-group-text">⊳</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              formControlName="about"
            ></textarea>
          </div>
          <!-- logica dato -->
          <div *ngIf="About?.errors && About?.touched">
            <p *ngIf="About?.hasError('required')" class="error">
              El dato es requerido.
            </p>
          </div>
          <br />
          <!--  -->
          <!-- footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              cerrar
            </button>
            <input
              type="submit"
              class="btn btn-primary"
              value="guardar cambios"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
