<section class="my-education" id="education">
  <h2 class="section__title section__title--education">
    <strong> &lt; formación académica &gt; </strong>
    <!-- add button -->
    <button
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addcourse"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>
  <div class="education">
    <!-- bucle? -->
   
    <div class="course" *ngFor="let course of education">

      <h2><i class="fa-solid fa-bookmark icon-body"></i></h2>
      <div class="title-ins">
        <h3 class="title">{{ course.title }}</h3>
        

        <h3 class="institution">{{ course.institution }}</h3>
      </div>

        <div class="date-buttons">
          <p class="project__date">{{ course.start | date:"dd-MM-yyy"}} / {{ course.end | date:"dd-MM-yyy" }}</p>
          <div class="col-1 admin-btn">
            <!-- edit -modal trigger button -->
            <button
              (click)="viewCourse(course.id)"
              type="button"
              class="btn edit-btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editcourse"
            >
              <i class="fa-solid fa-wand-magic-sparkles"></i>
            </button>
    
            <!--del- modal trigger button -->
    
            <button
            type="submit"
            class="btn del-btn"
            data-bs-toggle="modal"
            data-bs-target="#delete"
            (click)="delete(course.id)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
          </div>
        </div>

      <!-- modal -->

      <!-- ------- -->
    </div>
    <!-- fin -->
  </div>

  <div class="my-education__footer">
    <h2>&lt; / <i class="fa-solid fa-user-graduate icon-body"></i> &gt;</h2>
  </div>
</section>
<app-editcourse></app-editcourse>
<app-addcourse></app-addcourse>
