<div class="section" id="loginModal">
  <button
    type="button "
    class="btn-close btn-close-white"
    routerLink="/"
  ></button>

  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3">
            <span>Iniciar sesión </span><span>Registrarme</span>
          </h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <!-- card front -->
              <div class="card-front">
                <app-log></app-log>
              </div>

              <!-- card back -->
              <div class="card-back">
              <app-register></app-register>
            </div>
            <!-- end card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
