<section class="my-projects" id="projects">
  <h2 class="section__title section__title--projects">
    <strong> &lt; mis proyectos &gt; </strong>
    <!-- add button -->
    <button
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#editproject"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>
  <div class="projects flex-container">
    <!-- start project -->
    <div class="project" *ngFor="let project of projects">
      <!-- url -->
      <div class="button-icon">
        <h2>
          <i class="fa-regular fa-folder icon-body">
            <a [href]="project.url" alt="link del proyecto" target="_blank"></a>
          </i>
        </h2>
        <!-- modal -->
        <div class="col-1 admin-btn">
          <!-- edit -modal trigger button -->
          <button
            type="button"
            class="btn edit-btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editproject"
          >
            <i class="fa-solid fa-wand-magic-sparkles"></i>
          </button>

          <!--del- modal trigger button -->

          <button
            type="button"
            class="btn del-btn"
            data-bs-toggle="modal"
            data-bs-target="#delete"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        <!-- ------- -->
      </div>
      <!-- project body -->
      <h3>
        {{ project.title }}

        <p>{{ project.description }}</p>
        <p class="project__date">{{ project.start }} / {{ project.end }}</p>
      </h3>
    </div>
    <!-- end project -->
  </div>

  <div class="my-projects__footer">
    <h2>&lt; / <i class="fa-solid fa-list-check icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editproject></app-editproject>
<app-delete></app-delete>
