<section class="my-skills" id="skills">
  <h2 class="section__title section__title--skills">
    <strong> &lt; mis habilidades &gt; </strong>
    <!-- add button -->
    <button *ngIf="isLogged"
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addskill"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>

  <div class="skills flex-container">
    <!-- skill 1 -->
    <div class="skill" *ngFor="let skill of skills">
      <div class="skill__percentage">
        <circle-progress
          [percent]="skill.percentage"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#009188'"
          [innerStrokeColor]="'#fff'"
          [animation]="true"
          [title]="skill.name"
          [animateTitle]="true"
          [animationDuration]="1000"
          [titleColor]="'#fff'"
          [subtitleColor]="'#fff'"
          [animateSubtitle]="true"
        ></circle-progress>
        <!-- [subtitle]="skill.percentage" -->
      </div>

      <!-- modal -->
      <div class="admin-btn" *ngIf="isLogged">
        <!-- edit -modal trigger button -->
        <button
          type="button"
          class="btn edit-btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editskill"
          (click)="viewSkill(skill.id)"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>

        <!--del- modal trigger button -->

        <button
          type="submit"
          class="btn del-btn"
          data-bs-toggle="modal"
          data-bs-target="#delete"
          (click)="delete(skill.id)"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
      <!-- ------- -->
    </div>
    <!-- end skill 1 -->
  </div>
  <div class="back-to-top">
    <h3>
      <a href="#navigation">
        <i class="fa-solid fa-chevron-up"></i>
      </a>
    </h3>
  </div>

  <div class="my-skills__footer">
    <h2>&lt; / <i class="fa-solid fa-shapes icon-body"></i> &gt;</h2>
  </div>
</section>
<app-editskill></app-editskill>
<app-addskill></app-addskill>
