<!-- completarrrrrrrrrrrrrrrrrrr -->

<section class="my-skills" id="skills">
  <h2 class="section__title section__title--skills">
    <strong> &lt; mis habilidades &gt; </strong>
  </h2>

  <div class="skills">

    <div class="skill">
      <div class="skill__percentage">
      
      </div>
      <!-- admin button -->
      <div class="col-1 admin-btn">
        <button type="button" class="btn edit-btn">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
        <button type="button" class="btn del-btn">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
    </div>
    <!-- ---- -->
  </div>

  <div class="my-skills__footer">
    <h2>&lt; / <i class="fa-solid fa-shapes icon-body"></i> &gt;</h2>
  </div>
</section>
