<div class="modal" tabindex="-1" id="editjob">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h3 class="modal-title">
          &lt; ingrese nombre y datos del proyecto &gt;
        </h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- body -->

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="lugar de trabajo"
          aria-label="workplace"
          aria-describedby="workplace"
        />
      </div>

      <div class="input-group">
        <span class="input-group-text"
          >título del puesto,<br />
          descripcion del trabajo</span
        >
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">fecha de inicio</span>
        <input
          type="date"
          class="form-control"
          placeholder="fecha de duracion del proyecto"
          aria-label="job-start"
          aria-describedby="job-start"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">fecha de finalizacion</span>
        <input
          type="date"
          class="form-control"
          placeholder="fecha de duracion del proyecto"
          aria-label="job-end"
          aria-describedby="job-end"
        />
      </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          cerrar
        </button>
        <button type="button" class="btn btn-primary">guardar cambios</button>
      </div>
    </div>
  </div>
</div>
