/* You can add global styles to this file, and also import other style files */


@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');



/* changing how padding is calculated */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* custom properties */
:root{
  --ff-primary : 'Inconsolata', sans-serif;
  --ff-secondary : 'Inconsolata', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark:#1f2029;
  --clr-accent:#009188;

  --fs-h1:3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  

}

@media(min-width: 800px){
  :root{
    --fs-h1: 4.5rem;
    --fs-h2:3.75rem;
    --fs-h3:1.5rem;
    --fs-body:1.25rem;
  }
}

/* general styles */

body {
  background-color: var(--clr-dark);
  color: var( --clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body); 
  line-height: 1.6;
}
section {
  padding: 2em 2em;
}
img{
  display: block;
  max-width: 100%;

}


/* ------------------ */


a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #009188;
}
p {
  font-weight: 500;
  word-wrap: break-word;  
    color: var( --clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body); 
    line-height: 1.6;
  
}
h1 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.btn{  
    border-radius: 2rem; /* alt  4px */
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #009188;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }


  .btn a {

    height: 100%;
    font-size: 2rem;

  }

  a i{
    width: 100%;
    color: #ffffff;
  }
  a i:hover{
    color: #009188;
  }


    /* active not working */
  .btn:active,

  .btn:focus{  
    background-color: #ffffff;
    color:#009188;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  .btn:hover{  
    background-color: #ffffff;
    color: #009188;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
 .btn i:hover{  
    background-color: #ffffff;
    color: #009188;
  }

.add-btn{
  border-radius: 1rem;
  padding: 1rem;
  width:5%;
  height: 0.1rem;
  font-style: italic;
  color: rgb(255, 255, 255);
  box-shadow: #fff;
  background-color: var(--clr-accent);
}
  .edit-btn{
    border-radius: 1rem;
    padding: 1rem;
    width:5%;
    height: 0.1rem;
    color: rgb(255, 255, 255);
    box-shadow: #fff;
    background-color: rgb(55, 133, 113);
  }
  .del-btn{
    border-radius: 1rem;
    padding: 1rem;
    width:10%;
    width:5%;
    height: 0.1rem;
    color: rgb(255, 255, 255);
    box-shadow: #fff;
    background-color: rgb(160, 57, 57);
  }

  .btn-close{
    color: #fff;
  }

/* ------------------------------------------ */

strong{
  font-weight: var(--fw-bold);

}
/* typography --- maybe check de margin***** */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h4 {
  line-height: 1;
  margin: 0;
}
h1{ font-size: var(--fs-h1)}
h2{ font-size: var(--fs-h2)}
h3{ font-size: var(--fs-h3)}

.icon-body {
  color: var(--clr-accent);
}

.section__title{
  margin-bottom: 0.9em;
  display: flex;
  justify-content: space-between;
}



.section__subtitle{
  margin: 0;
  font-size: var(--fs-h3);

}
.section__subtitle--intro,
.section__subtitle--about{
  background-color: var(--clr-accent);
  font-family: var(--ff-primary);
  margin-bottom: 1em;
}

/* modals */
.modal-content{
  border-width: 0.1%;
  border-style: solid;
  border-color: var(--clr-border);
  background-color: #1f2029;
}



/* project-date is used for all dates in every category */
.project__date{
  display: flex;
  flex-direction: row-reverse;
  font-style: italic;
  color: rgb(177, 174, 174);
  }

.about-me__footer,
.my-experience__footer,
.my-education__footer,
.my-skills__footer,
.my-projects__footer{
  padding: 2em;
display: flex;
flex-direction: row-reverse;

  /* change opacity of the footers */
}
.error{
  color: rgb(160, 57, 57);
}

.border-danger{
  border-color: rgb(160, 57, 57);
}
.border-good{
  border-color: rgb(1, 160, 1);
}