<section class="my-experience" id="experience">
  <h2 class="section__title section__title--experience">
    <strong> &lt; experiencia &gt; </strong>
    <!-- add button -->
    <button
      *ngIf="isLogged"
      type="button"
      class="btn add-btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addjob"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
    <!-- --- -->
  </h2>
  <div class="experience">
    <div class="job" *ngFor="let job of experience">
      <h3>
        <i class="fa-solid fa-location-dot"></i><span> {{ job.place }} </span>
        <br />
        <span>&lt; {{ job.title }} &gt;</span>
      </h3>
      <div class="desc">
        <p>{{ job.description }}</p>

        <div class="date">
          <p class="project__date">
            {{ job.start | date : "dd-MM-yyy" }} /
            {{ job.end | date : "dd-MM-yyy" }}
          </p>
          <div class="col-1 admin-btn" *ngIf="isLogged">
            <!-- edit -modal trigger button -->
            <button
              type="button"
              class="btn edit-btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editjob"
              (click)="viewJob(job.id)"
            >
              <i class="fa-solid fa-pencil"></i>
            </button>

            <!--del- modal trigger button -->
            <button
              type="submit"
              class="btn del-btn"
              data-bs-toggle="modal"
              data-bs-target="#delete"
              (click)="delete(job.id)"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- modal -->
    </div>
    <!-- ----------------- -->
  </div>
  <div class="my-experience__footer">
    <h2>&lt; / <i class="fa-solid fa-briefcase icon-body"></i> &gt;</h2>
  </div>
</section>

<app-editjob></app-editjob>
<app-addjob></app-addjob>
